In [1]:
myFruits = ("Apple","Banana","Grape")
print(myFruits)

('Apple', 'Banana', 'Grape')

In [2]:
id(myFruits)

2126084178432

In [4]:
type(myFruits)

tuple

In [5]:
myList = ["Frirst","Third","Fourth"]
print(myList)

['Frirst', 'Third', 'Fourth']

In [6]:
myList.append("Second")

In [7]:
print(myList)

['Frirst', 'Third', 'Fourth', 'Second']

In [8]:
myFruits.append("Orange")

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
myList.pop()

'Second'

In [10]:
print(myList)

['Frirst', 'Third', 'Fourth']

In [11]:
myFruits.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [14]:
myFruitsList = list(myFruits)

In [15]:
print(myFruitsList)

['Apple', 'Banana', 'Grape']

In [16]:
myFruitsList.append("Orange")

In [17]:
print(myFruitsList)

['Apple', 'Banana', 'Grape', 'Orange']

In [18]:
myFruits = tuple(myFruitsList)

In [19]:
print(myFruits)

('Apple', 'Banana', 'Grape', 'Orange')

In [20]:
myTuple1 = (1,"Frist",204.23,True)

In [21]:
print(myTuple1)

(1, 'Frist', 204.23, True)

In [28]:
myTuple = ("First",)

In [29]:
print(myTuple)

('First',)

In [30]:
type(myTuple)

tuple

In [31]:
del myTuple

In [32]:
print(myTuple)

NameError: name 'myTuple' is not defined

In [33]:
tuple1 = ("First","Second","Third")
tuple2 = (1,2,3)

In [34]:
tuple3 = tuple1 + tuple2

In [36]:
print(tuple3)

('First', 'Second', 'Third', 1, 2, 3)

In [39]:
tuple4 = tuple1 * 3

In [40]:
print(tuple4)

('First', 'Second', 'Third', 'First', 'Second', 'Third', 'First', 'Second', 'Third')

In [41]:
'First' in tuple4

True

In [43]:
tuple4.index("Third")

2

In [44]:
tuple4.count("First")

3

In [45]:
myTuple = ("First", 23, [23.2, 42, 24])

In [46]:
type(myTuple)

tuple

In [47]:
id(myTuple)

2126084175168

In [48]:
print(myTuple[2])

[23.2, 42, 24]

In [49]:
myTuple[2].append(-45)

In [50]:
print(myTuple)

('First', 23, [23.2, 42, 24, -45])

In [51]:
id(myTuple)

2126084175168

In [52]:
mySet = {3,25,62}

In [54]:
print(mySet)

{25, 3, 62}

In [56]:
25 in mySet

True

In [57]:
23 in mySet

False

In [58]:
23 not in mySet

True

In [59]:
myList[2]

'Fourth'

In [60]:
myTuple[2]

[23.2, 42, 24, -45]

In [61]:
mySet[2]

TypeError: 'set' object is not subscriptable

In [62]:
for x in mySet:
    print(x)

25
3
62

In [63]:
mySet1 = {"Apple","Banana","Grape"}

In [64]:
mySet2 = {1,42.52,-52}

In [65]:
mySet3 = mySet1.union(mySet2)

In [66]:
print(mySet3)

{'Grape', 'Banana', 1, 42.52, -52, 'Apple'}

In [67]:
mySet4 = {"Apple",1,109}

In [68]:
mySet5 = mySet1.union(mySet4)

In [69]:
print(mySet5)

{'Grape', 'Banana', 1, 'Apple', 109}

In [70]:
mySet5.add(-3.14)

In [71]:
print(mySet5)

{'Grape', 'Banana', 1, -3.14, 'Apple', 109}

In [72]:
mySet4.update(['Orange',4,12.4])

In [73]:
print(mySet4)

{'Orange', 1, 4, 12.4, 109, 'Apple'}

In [74]:
mySet4.remove(109)

In [75]:
print(mySet4)

{'Orange', 1, 4, 12.4, 'Apple'}

In [76]:
mySet4.remove(109)

KeyError: 109

In [77]:
mySet4.discard('Apple')

In [78]:
print(mySet4)

{'Orange', 1, 4, 12.4}

In [79]:
mySet4.discard('Apple')

In [80]:
mySet1

{'Apple', 'Banana', 'Grape'}

In [81]:
mySet3

{-52, 1, 42.52, 'Apple', 'Banana', 'Grape'}

In [83]:
print(mySet1.intersection(mySet3))

{'Grape', 'Banana', 'Apple'}

In [84]:
mySet1.issubset(mySet3)

True

In [85]:
mySet3.issubset(mySet1)

False

In [86]:
mySet3.difference(mySet1)

{-52, 1, 42.52}

In [87]:
print(mySet3)

{'Grape', 'Banana', 1, 42.52, -52, 'Apple'}

In [88]:
mySet3.difference_update(mySet1)

In [89]:
print(mySet3)

{1, 42.52, -52}

In [90]:
mySet3.pop()

1

In [91]:
mySet3.pop()

42.52