## Write a Python function program which accepts a list of values and returns the two separate lists one containing the even numbers and other containing the odd numbers. The program should also return the maximum and minimum in both lists.

In [1]:
x = input('Enter the list: ')

Enter the list: [1,2,3,5]

In [2]:
print(x)

[1,2,3,5]

In [3]:
type(x)

str

In [8]:
nos = []
while 1:
    ch = input('Enter the number')
    if ch.upper() == 'X':
        break
    else:
        nos.append(int(ch))

Enter the number1
Enter the number2
Enter the number4
Enter the number6
Enter the number8
Enter the number5
Enter the number7
Enter the number11
Enter the numberx

print(nos)

In [9]:
nos

[1, 2, 4, 6, 8, 5, 7, 11]

In [10]:
type(nos)

list

In [11]:
nos = input('Enter the numbers separated by space')

Enter the numbers separated by space3 2 4 7 11 24 12

In [12]:
type(nos)

str

In [13]:
nos = nos.split()

In [14]:
type(nos)

list

NameError: name 'length' is not defined

In [33]:
nos = input('Enter the numbers separated by space: ')
nos = nos.split(" ")
"""
even = []
odd = []

for i in nos:
    if (int(i)%2 == 0):
        even.append(int(i))
    else:
        odd.append(int(i))
"""
even = [int(i) for i in nos if int(i)%2 == 0]
odd = [int(i) for i in nos if int(i)%2 != 0]

print('Even numbers: ',even)
print('Odd numbers: ',odd)
print('Maximum in even numbers: ',max(even))
print('Minimum in even numbers: ',min(even))
print('Maximum in odd numbers: ',max(odd))
print('Minimum in odd numbers: ',min(odd))

Enter the numbers separated by space: 2 4 63 24 8
Even numbers:  [2, 4, 24, 8]
Odd numbers:  [63]
Maximum in even numbers:  24
Minimum in even numbers:  2
Maximum in odd numbers:  63
Minimum in odd numbers:  63

In [24]:
# Generate 10 number from 10 to 20

x = [i for i in range(10,20+1)]

In [25]:
print(x)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
even = [i for i in range(10,20+1) if i%2 == 0]

In [27]:
even

[10, 12, 14, 16, 18, 20]

In [28]:
odd = [i for i in range(10,20+1) if i%2 != 0]

In [29]:
odd

[11, 13, 15, 17, 19]

In [35]:
for i in range(10,20):
    for j in range(15,25):
        print("(",i,",",j,")")

( 10 , 15 )
( 10 , 16 )
( 10 , 17 )
( 10 , 18 )
( 10 , 19 )
( 10 , 20 )
( 10 , 21 )
( 10 , 22 )
( 10 , 23 )
( 10 , 24 )
( 11 , 15 )
( 11 , 16 )
( 11 , 17 )
( 11 , 18 )
( 11 , 19 )
( 11 , 20 )
( 11 , 21 )
( 11 , 22 )
( 11 , 23 )
( 11 , 24 )
( 12 , 15 )
( 12 , 16 )
( 12 , 17 )
( 12 , 18 )
( 12 , 19 )
( 12 , 20 )
( 12 , 21 )
( 12 , 22 )
( 12 , 23 )
( 12 , 24 )
( 13 , 15 )
( 13 , 16 )
( 13 , 17 )
( 13 , 18 )
( 13 , 19 )
( 13 , 20 )
( 13 , 21 )
( 13 , 22 )
( 13 , 23 )
( 13 , 24 )
( 14 , 15 )
( 14 , 16 )
( 14 , 17 )
( 14 , 18 )
( 14 , 19 )
( 14 , 20 )
( 14 , 21 )
( 14 , 22 )
( 14 , 23 )
( 14 , 24 )
( 15 , 15 )
( 15 , 16 )
( 15 , 17 )
( 15 , 18 )
( 15 , 19 )
( 15 , 20 )
( 15 , 21 )
( 15 , 22 )
( 15 , 23 )
( 15 , 24 )
( 16 , 15 )
( 16 , 16 )
( 16 , 17 )
( 16 , 18 )
( 16 , 19 )
( 16 , 20 )
( 16 , 21 )
( 16 , 22 )
( 16 , 23 )
( 16 , 24 )
( 17 , 15 )
( 17 , 16 )
( 17 , 17 )
( 17 , 18 )
( 17 , 19 )
( 17 , 20 )
( 17 , 21 )
( 17 , 22 )
( 17 , 23 )
( 17 , 24 )
( 18 , 15 )
( 18 , 16 )
( 18 , 17 )
( 18 , 18 )
( 18 , 19 )
( 18 , 20 )
( 18 , 21 )
( 18 , 22 )
( 18 , 23 )
( 18 , 24 )
( 19 , 15 )
( 19 , 16 )
( 19 , 17 )
( 19 , 18 )
( 19 , 19 )
( 19 , 20 )
( 19 , 21 )
( 19 , 22 )
( 19 , 23 )
( 19 , 24 )

In [36]:
l = [(i,j) for i in range(10,20) for j in range(15,25)]

In [37]:
l

[(10, 15),
 (10, 16),
 (10, 17),
 (10, 18),
 (10, 19),
 (10, 20),
 (10, 21),
 (10, 22),
 (10, 23),
 (10, 24),
 (11, 15),
 (11, 16),
 (11, 17),
 (11, 18),
 (11, 19),
 (11, 20),
 (11, 21),
 (11, 22),
 (11, 23),
 (11, 24),
 (12, 15),
 (12, 16),
 (12, 17),
 (12, 18),
 (12, 19),
 (12, 20),
 (12, 21),
 (12, 22),
 (12, 23),
 (12, 24),
 (13, 15),
 (13, 16),
 (13, 17),
 (13, 18),
 (13, 19),
 (13, 20),
 (13, 21),
 (13, 22),
 (13, 23),
 (13, 24),
 (14, 15),
 (14, 16),
 (14, 17),
 (14, 18),
 (14, 19),
 (14, 20),
 (14, 21),
 (14, 22),
 (14, 23),
 (14, 24),
 (15, 15),
 (15, 16),
 (15, 17),
 (15, 18),
 (15, 19),
 (15, 20),
 (15, 21),
 (15, 22),
 (15, 23),
 (15, 24),
 (16, 15),
 (16, 16),
 (16, 17),
 (16, 18),
 (16, 19),
 (16, 20),
 (16, 21),
 (16, 22),
 (16, 23),
 (16, 24),
 (17, 15),
 (17, 16),
 (17, 17),
 (17, 18),
 (17, 19),
 (17, 20),
 (17, 21),
 (17, 22),
 (17, 23),
 (17, 24),
 (18, 15),
 (18, 16),
 (18, 17),
 (18, 18),
 (18, 19),
 (18, 20),
 (18, 21),
 (18, 22),
 (18, 23),
 (18, 24),
 (19, 15),
 (19, 16),
 (19, 17),
 (19, 18),
 (19, 19),
 (19, 20),
 (19, 21),
 (19, 22),
 (19, 23),
 (19, 24)]

In [39]:
# list all the numbers which are divisible by 2 and 3 from a given list
# l = [2, 6, 12, 15, 18, 20, 21]

l = [2,6,12,15,18,20,21]

for i in l:
    if i%2 == 0 and i%3 == 0:
        print(i)

6
12
18

In [40]:
l23 = [i for i in l if i%2 == 0 if i%3 == 0]

In [41]:
l23

[6, 12, 18]

In [42]:
nos = ['24','24.4','52','53.5']
nos_1 = [int(x) if float(x).is_integer() else float(x) for x in nos]

In [43]:
nos_1

[24, 24.4, 52, 53.5]

In [44]:
nos = [2,6,13,25,48]
#nosevenood = ['Even','Even','Odd','Odd','Even']

In [45]:
nosevenodd = ['Even' if x%2 == 0 else 'Odd' for x in nos]

In [46]:
nosevenodd

['Even', 'Even', 'Odd', 'Odd', 'Even']

In [48]:
nos = [2,6,13,25,48]
nos_1 = []
for i in nos:
    if i%2 == 0:
        nos_1.append('Even')
    else:
        nos_1.append('Odd')

In [49]:
nos_1

['Even', 'Even', 'Odd', 'Odd', 'Even']

In [52]:
nos_2 = [(i,'Even') if i%2 == 0 else (i,'Odd') for i in nos]

In [53]:
nos_2

[(2, 'Even'), (6, 'Even'), (13, 'Odd'), (25, 'Odd'), (48, 'Even')]

In [58]:
d = {i:str(i) for i in range(100) if i >= 10 if i <= 20}

In [59]:
type(d)

dict

In [60]:
d

{10: '10',
 11: '11',
 12: '12',
 13: '13',
 14: '14',
 15: '15',
 16: '16',
 17: '17',
 18: '18',
 19: '19',
 20: '20'}